CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

build
.vscode
.venv


deactivate_conanrun.sh
cmakedeps_macros.cmake
CMakePresets.json
conan_toolchain.cmake
conanbuild.sh
conanbuildenv-release-x86_64.sh
conandeps_legacy.cmake
conanrun.sh
conanrunenv-release-x86_64.sh
deactivate_conanbuild.sh
